* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.login-page {
    min-height: 100vh;
    /* background-color: #44318d; */
    background-color: #000;
}
.nav {
    /* height: 3.5rem; */
    height: 9.5vh;
    width: 100vw;
    /* background-color: #2a1b3d; */
    background-color: #333333;
}
.logo-img {
    height: 9vh;
    margin: 0.25vh;
    margin-left: 20px;
}
.login-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.poster-side {
    /* height: 34.5rem; */
    height: 90.5vh;
    width: 75vw;
}
.login-side {
    /* height: 34.5rem; */
    height: 90.5vh;
    width: 25vw;
    /* background-color: #715bbe; */
    background-color: #1a1a1d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* ------ */
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
    /* ------ */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.app-name {
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #000;
    margin-bottom: 50px;
}
.bits-disclaimer {
    margin: 20px;
}
.logoutbutton {
    height: 3rem;
    width: 8rem;
    margin: 2rem;
    font-size: 1rem;
}
